<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hub</title>

    <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
    
    <header>
    
    <form action = "/main">
        <button class="but" id="pa">My Library</button>
    </form>


    <form action="/other_users">
        <button class="but">Users</button>
    </form>
    

    <form action = "/search">
        <button class="but">Search</button>
    </form>


    <form action="/log_out%>">
        <button class="but">Log Out</button>
    </form>
    
    <form action="/sign_up">
        <button class="but">Sign Up</button>
    </form>

    </header>

    <main> 