<%- include("partials/header.ejs") %>

<h1>Chatting</h1>
    
    <input id="message" type="text" placeholder="enter message"/>
    <button id="sendBtn">Send</button>
    
    <div id="messages"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io(); // Initialize Socket.IO client

        const sender = parseInt("<%= sender %>", 10);
        const receiver = parseInt("<%= receiver %>", 10);

        console.log(sender);
        socket.emit('register-user', sender);
        
        const sendBtn = document.getElementById("sendBtn");
        const messageInput = document.getElementById("message");
        const allMessages = document.getElementById("messages");
        
        socket.on("message", ({message, sender_id})=> {
            if (sender_id === receiver || sender_id==sender) {
            console.log('Message from active chat:', message);
            const p = document.createElement("p");
            p.innerText = message;
            allMessages.appendChild(p);
        } else {
            // You could store this message elsewhere or show a notification for a new message from a different user
            console.log('Message from another user (not active chat):', message);
        }
        });

        sendBtn.addEventListener("click", (e) =>{
            const message = messageInput.value;
            //console.log(message);
            //socket.emit("user-message", message);
            socket.emit('user-message', { message: message, recipient_id: receiver, sender_id: sender });
        })

    </script>

<%- include("partials/footer.ejs") %>