<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hub</title>


</head>
<body>
    <p>Book Hub</p>
    
    <form action="/login" method="POST">
        <input name="email" placeholder="email" type="email">
        <input name="password" placeholder="password" type="text">
        <input type="submit" value="Log in" >
    </form>
    <a href="./sign_up" >sign up</a>
</body>
</html>