<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hub</title>

    <style>
    .akr{
        width:400px;
        
        background-color:whitesmoke;
    }

    .container{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top:50px;
    }

    .bkr{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    input{
        width:350px;
        height:40px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 2px solid #ccc;
        text-align: center;
        font-size:1rem;
    }

    .gr{
        background-color: blue;
        color:white;
        padding: 0; /* Reset padding */
        border: none; /* Remove border */
        outline: none; /* Remove outline */
        box-sizing: border-box; 
        font-weight:bold;
    }

    </style>

</head>
<body>
    <div class="container">
    <h2>Book Hub</h2>
    <div class="akr">
    
    <form action="/login" method="POST">
        <div class="bkr">
        <p>login to book hub</p>
        <input name="email" placeholder="email" type="email">
        <input name="password" placeholder="password" type="password">
        <input type="submit" value="Log in" class="gr" >
    </form>
    <a href="./sign_up" >sign up</a>
    
    </div>
    </div>
</div>
</body>
</html>